app-about {
  ion-grid {
    height: 100%;
  }
  .photo-col {
    background-image: url('/assets/profile-pic.jpg');
    height: 100%;
  }
  .photo-row {
    height: 50%;
  }
  .bio-row {
    height: 40%;
  }
  .bio-col {
    height: 100%;
  }
}
