app-about {
  ion-grid {
    height: 100%;
  }
  .photo-col {
    background-image: url('/assets/profile-pic.jpg');
    height: 100%;
  }
  .photo-row {
    margin-top: 10%;
    height: 45%;
  }
  .bio-row {
    height: 35%;
  }
}
