app-home {
  .header-row {
    height: 20%;
  }
  .logo-row {
    height: 52%;
  }
  .logo-col {
    background-image: url('/assets/logo.jpg');
  }
  .zenpylon-header {
    letter-spacing: 0.6rem;
    padding-left: 1rem;
  }
  .values-row {
    height: 15%;
    font-weight: 350;
    font-size: 2.5rem;
  }
  .separator {
    border-right: rgba(0, 0, 0, 0.3) 1px solid;
  }
  .social-media-row {
    height: 5%;
    ion-col a {
      color: teal;
      font-size: 1rem;
      font-weight: 300;
      letter-spacing: 0.1rem;
      text-decoration: none;
    }
  }
}
