app-home {
  .logo-row {
    height: 42%;
  }
  .zenpylon-header {
    font-weight: 350;
    font-size: 4.5rem;
    letter-spacing: 0.6rem;
    padding-left: 1rem;
  }
  .values-row {
    font-weight: 350;
    font-size: 3rem;
  }
  .social-media {
    color: teal;
    font-size: 0.8rem;
    font-weight: 100;
    letter-spacing: 0.1rem;
  }
}
